<div ng-show="vm.loading">
	<div class="loading">loading...</div>
</div>
<div class="row row-fluid container-fluid " ng-if="!vm.loading">
	<div class="col-sm-12" >
		<div class="" ng-hide="showChart" ><button class="btn btn-info" ng-click="showChart=!showChart; vm.buildChartData();" >Show Chart</button></div>
		<div class="chartContainer" ng-show="showChart">
			<div class="chartArea container container-fluid pull-left">
	    		<nvd3 options="vm.chartOptions" data="vm.chartConversionData" ></nvd3>
	    	</div>
			<div class="chartButtonArea pull-right">
				<button class="btn btn-default col-xs-12" ng-click="showChart=!showChart" >Hide Chart</button>
				<button class="btn btn-info col-xs-12" ng-click="vm.chartConversionData = vm.chartConversionByColorData" >Switch to By Color</button>
			</div>
		</div>
	</div>
	<div class="customerStats col-sm-12" >
		<div class="row container-fluid text-center"><label ng-click="showStats=!showStats" ng-init="showStats=true" class="h4">stats</label></div>
		<div class="row container-fluid show-animation hide-animation" ng-if="vm.stats.total" ng-hide="!showStats" ng-show="showStats">
			<div class="col-sm-3">
				<ul>
					<li>Total Users: {{vm.stats.total}}</li>
					<li>Percent of Females: {{vm.stats.females.length/vm.stats.total*100|number:2}}%</li>
					<li>Percent of Males: {{vm.stats.males.length/vm.stats.total*100|number:2}}%</li>
				</ul>
			</div>
			<div class="col-sm-4">
				<ul>
					<li>Total users who performed a "signed_up": {{vm.stats.signed_up.length||0}}</li>
					<li>Total users who performed a "viewed_profile": {{vm.stats.viewed_profile.length||0}}</li>
					<li>Total users who performed a "viewed_item": {{vm.stats.viewed_item.length||0}}</li>
					<li>Total users who performed a "purchased_item": {{vm.stats.purchased_item.length||0}}</li>
				</ul>
			</div>
			<div class="col-sm-5">
				<ul>
					<li>Conversion from Signup > Purchase: {{vm.stats.conv_signup.length/vm.customerdata.length*100|number:2}}%</li>
					<li>Conversion from Signup > Viewed Profile > Purchase: {{vm.stats.conv_profile.length/vm.customerdata.length*100|number:2}}%</li>
					<li>Conversion from Signup > Viewed Item > Purchase Item: {{vm.stats.conv_item.length/vm.customerdata.length*100|number:2}}%</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-4"><input class=" form-control" ng-model="vm.filtertext"></input></div>
		<div class="col-sm-4"></div>
		<div class="col-sm-4"><button ng-click="vm.aggregateCustomerData();" class="btn btn-sm btn-info pull-right">Add Row</button></div>
	</div>
	<div class="col-sm-12">
		<div ui-grid="vm.gridOptions" class="table dog-treats-table" ></div>
	</div>
</div>
<!--
<div ui-grid="{ data: vm.customerdata }" class="table container-fluid"></div>
<table class="table table-fluid">
	<tr>
		<th >First Name</th>
		<th >Last name</th>
		<th >Gender</th>
		<th >Company Name</th>
		<th >Job Title</th>
		<th >Email</th>
		<th >ID</th>
	</tr>
	<tr ng-repeat="item in vm.customerdata" ng-class="">
		<td >{{item.first_name}}</td>
		<td >{{item.last_name}}</td>
		<td >{{item.gender}}</td>
		<td >{{item.company_name}}</td>
		<td >{{item.job_title}}</td>
		<td >{{item.email}}</td>
		<td >{{item.id}}</td>
	</tr>
</table>
{{vm.gridOptions.data|json}}
<pre>{{vm.chartData|json}}</pre>
-->