.dog-treats {
  text-transform: capitalize;
  color: #990000;
}

.dog-treats-table{
  font-size: 0.8em;
  .ui.grid, .ui-grid-cell, .ui-grid-row{
    height:auto!important;
    border:none;
  }
  .ui-grid-cell-contents{
    padding:2px; margin:2px;
  }
}

.customerStats{
  font-size:0.8em;
  ul{
    padding:0.5em 0em 1em;
    li{
      list-style:none;
    }
  }
}

.chartContainer{
  width:100%;
  .btn{margin-bottom:5px;}
  .chartArea{width:70%;}
  .chartButtonArea{width:30%;}  
}